body
{
margin:0
}

.header
{font-family:Arial;font-size:32px;color:black;text-align:left;display:inline-block;margin-top:20px;margin-left:48px;margin-top:15px
}
.links
{
font-family:verdana;font-size:12px;letter-spacing:0.8px;text-align:right;display:inline-block;color:rgb(139,142,156);color:hsl(153,19,139);text-decoration:none;margin-left:65px;position:relative;top:-1px
}
.ulinks
{
font-family:verdana;font-size:13px;text-align:left;display:inline-block;margin-top:60px;margin-bottom:100px
}
.content
{
margin-left:225px;position:relative;top:-200px
}
.header1
{
font-family:verdana;font-size:12px;letter-spacing:0.8px;text-align:left;display:block;margin-bottom:15px;color:rgb(0,0,0);color:hsl(160,0,0);font-weight:bold
}
.para
{
font-family:arial;width:760px;font-size:16px;letter-spacing:0.1px;text-align:left;line-height:165%;display:inline-block;color:rgb(91,144,54);color:hsl(64,109,93);font-style:italic;font-weight:660
}

.soft
{
display:block;margin-left:35px;margin-bottom:12px;margin-top:10px
}
.hard
{
display:block;margin-left:35px;margin-bottom:12px
}
.lang
{
display:block;margin-left:35px;margin-bottom:12px
}
.data
{
display:block;margin-left:35px
}
.abs
{
margin-right:15px;text-decoration:none
}
.op
{
margin-right:15px;text-decoration:none
}
.ow
{
margin-right:15px;text-decoration:none
}
.ops
{
margin-right:15px;text-decoration:none
}
.ju
{
margin-right:15px;text-decoration:none
}

a.abs:link
{
color:rgb(139,142,156);color:hsl(153,19,139)
}
a.op:link
{
color:rgb(139,142,156);color:hsl(153,19,139)
}

a.ow:link
{
color:rgb(139,142,156);color:hsl(153,19,139)
}

a.ops:link
{
color:rgb(139,142,156);color:hsl(153,19,139)
}

a.ju:link
{
color:rgb(139,142,156);color:hsl(153,19,139)
}

a.lib:link
{
color:rgb(139,142,156);color:hsl(153,19,139)
}
a.soft:link
{
color:rgb(139,142,156);color:hsl(153,19,139)
}
a.hard:link
{
color:rgb(139,142,156);color:hsl(153,19,139)
}
a.lang:link
{
color:rgb(139,142,156);color:hsl(153,19,139)
}
a.data:link
{
color:rgb(139,142,156);color:hsl(153,19,139)
}
a.abs:visited
{
color:rgb(139,142,156);color:hsl(153,19,139)
}
a.op:visited
{
color:rgb(139,142,156);color:hsl(153,19,139)
}
a.ow:visited
{
color:rgb(139,142,156);color:hsl(153,19,139)
}
a.ops:visited
{
color:rgb(139,142,156);color:hsl(153,19,139)
}
a.ju:visited
{
color:rgb(139,142,156);color:hsl(153,19,139)
}
a.lib:visited
{
color:rgb(139,142,156);color:hsl(153,19,139)
}
a.soft:visited
{
color:rgb(139,142,156);color:hsl(153,19,139)
}
a.hard:visited
{
color:rgb(139,142,156);color:hsl(153,19,139)
}
a.lang:visited
{
color:rgb(139,142,156);color:hsl(153,19,139)
}

a.data:visited
{
color:rgb(139,142,156);color:hsl(153,19,139)
}